<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>新規仮予約画面</h1>
    </div>
    <div class="col-12 mt-3 content">
      <%= form_with model: @temp_reservation, url: user_teacher_temp_reservations_path, local: true, class: 'form' do |form| %>
        <div class="time form-group">
          <%= form.label :time, '開始時間' %>
          <%= l @start_time, format: :short %>
        </div>
        <div class="time form-group">
          <%= form.label :time, '終了時間' %>
          <%= l @end_time, format: :short %>
        </div>
        <div class="time form-group">
          <%= form.label :time, 'カリキュラム実施場所' %>
          <%= form.select :address_select, [["講師のサロンを利用する", true], ["自分の選択した場所を利用する", false]], { include_blank: true, selected: "true" }, class: 'form-control' %>
        </div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :teacher_id, value: @teacher_id %>
        <%= form.hidden_field :start_time, value: @start_time %>
        <%= form.hidden_field :end_time, value: @end_time %>
        <div class="submit btn">
          <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
        </div>
      <% end %>
      <div class="col-12 text-right">
        <%= link_to '戻る', user_teacher_reservations_path %>
      </div>
    </div>
  </div>
</div>