<p><%= @teacher.teacher_name %>さん、新規予約が確定しました。</p>

<p>氏名 <%= @user.user_name %>様</p>
<P>開始時間 <%= l @reservation.start_time, format: :short %></P>
<P>実施場所
  <% if @reservation.address_select? %>
    <%= @teacher.teacher_address %>
  <% else %>
    <%= @user.user_address %>
  <% end %>
</P>

<p>よろしくお願いします。</p>