<section class="box1">

<h2><%= @user.user_name %>さんのマイページ</h2>
  <dl class="show">
    <% @user_reservations.each do |user_reservation| %>
    <dt>開始時間</dt>
    <dd>
      <%= l user_reservation.start_time, format: :short %>
    </dd>
    <dt>講師</dt>
    <dd>
      <%= check_teacher(user_reservation) %>
    </dd>
    <dt>予約を取り消す</dt>
    <dd>
      <%= button_to '削除', user_teacher_reservation_path(@user.id, user_reservation.teacher_id, user_reservation.id), method: :delete, data: { confirm: "削除してもよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>
    </dd>
    <% end %>
    <% if @user_reservations.blank? %> <!--blankメソッドはオプジェクトがからであるかどうかを確認する-->
      <dt>
        <dd>予約はありません。</dd>
      </dt>
    <% end %>
  </dl>
</section>

<%= button_to destroy_user_session_path, method: :delete do %>
  <span>ログアウト</span>
<% end %>