<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>講師スケジュール入力画面</h1>
    </div>
    <div class="col-12 mt-3 content">
    <%= form_with model: @reservation, url: teacher_reservations_index_path, local: true, class: 'form' do |form| %>
      <div class="time form-group">
        <%= form.label :time, '開始時間' %>
        <%= l @start_time, format: :short %>
      </div>
      <div class="time form-group">
        <%= form.label :time, '終了時間' %>
        <%= l @end_time, format: :short %>
      </div>
      <%= form.hidden_field :start_time, value: @start_time %>
      <%= form.hidden_field :end_time, value: @end_time %>
      <%= form.hidden_field :teacher_id, value: current_teacher.id %>

      <div class="submit btn">
        <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', teacher_reservations_index_path %>
    </div>
    </div>
  </div>
</div>