<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約確定画面</h1>
    </div>
    <div class="col-12 mt-3 content">
      <%= form_with model: @reservation, local: true, class: 'form' do |form| %>
      <div class="time form-group">
        <%= form.label :time, '開始時間' %>
        <%= l @start_time, format: :short %> 
      </div>
      <div class="time form-group">
        <%= form.label :time, '終了時間' %>
        <%= l @end_time, format: :short %>
      </div>
      <div class="time form-group">
        <%= form.label :time, 'カリキュラム実施場所' %>
        <%= address(@address_select) %>
      </div>
        <%= form.hidden_field :user_id, value: @user.id %>
        <%= form.hidden_field :teacher_id, value: @teacher.id %>
        <%= form.hidden_field :temp_reservation_id, value: @temp_reservation.id %>
        <%= form.hidden_field :start_time, value: @start_time %>
        <%= form.hidden_field :end_time, value: @end_time %>
        <%= form.hidden_field :address_select, value: @address_select %>
      <div class="submit btn">
        <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
    <% end %>
    </div>
  </div>
</div>