<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>講師スケジュール入力画面</h1>
    </div>
    <div class="col-12 mt-3 content">
    <%= form_with model: @reservation, url: teacher_reservations_index_path, local: true, class: 'form' do |form| %>
      <div class="time form-group">
        <%= form.label :time, '開始時間' %>
        <%= l @reservation.start_time, format: :short %> <!-- lメソッドで日時オブジェクトを表示。surftimeよりコードが短くなる-->
                                                         <!-- format: :shortは日付を簡潔に表示するオプション-->
      </div>
      <div class="time form-group">
        <%= form.label :time, '終了時間' %>
        <%= l @reservation.end_time, format: :short %>
      </div>
      <%= form.hidden_field :teacher_id, value: current_teacher.id %>
      <%= form.hidden_field :start_time, value: @reservation.start_time %>
      <%= form.hidden_field :end_time, value: @reservation.end_time %>
      <div class="submit">
        <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', teacher_reservations_index_path %>
    </div>
    </div>
  </div>
</div>