<section class="box1">

  <h2><%= @teacher.teacher_name %>さんのマイページ</h2>
  
  <dl class="show">
    <%= teacher_reservations.each do |teacher_reservation| %>
      <dt>開始時間</dt>
      <dd>
        <%= l teacher_reservation.start_time, format: :short %>
      </dd>
      <dt>生徒名</dt>
      <dd>
        <%= check_user(teacher_reservation) %>
      </dd>
      <dt>カリキュラム実施場所</dt>
      <dd>
        <% if teacher_reservation.address_select? %>
          <%= current_teacher.teacher_address %>
        <% else %>
          <%= user_address(teacher_reservation) %>
        <% end %>
      </dd>
    <% end %>
    <% if @teacher_reservations.blank? %> <!--blank?メソッド：オプジェクトが空であるかどうかを判定-->
      <dt>
        <dd>予約はありません。</dd>
      </dt>
    <% end %>
  </dl>

</section>

<div class="btn">
  <%= button_to destroy_teacher_session_path, method: :delete do %> <!-- button_toはformを作り、その中にinputタグでボタンを生成する-->
  <a>ログアウト
</div>

<% end %>