<!DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="UTF-8">
      <title>予約サイト</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="予約サイトです。">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
      
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
    </head>
    
    <body class="home">
    
      <div id="container">
      
        <header>
          
          <% if teacher_signed_in? %>
            <%= link_to teacher_path(current_teacher) do %>
              <h1 id ="logo"><%= image_tag 'logo.png', alt:'ロゴ画像' %></h1>
            <% end %>
          <% elsif user_signed_in? %>
            <%= link_to user_path(current_user) do %>
              <h1 id="logo"><%= image_tag 'logo.png', alt:'ロゴ画像' %></h1>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <h1 id="logo"><%= image_tag 'logo.png', alt:'ロゴ画像' %></h1>
            <% end %>
          <% end %>
          
          <!--メインメニュー-->
          <nav id="menubar">
            <% if teacher_signed_in? %>
              <ul>
                <li><%= link_to "講師マイページ", teacher_path(:id) %></li>
                <li><%= link_to "日程管理", teacher_reservations_index_path(:id) %></li>
              </ul>
            <% else %>
              <ul>
                <li><%= link_to "マイページ", user_path(:id) %></li>
                <li><%= link_to "カリキュラム予約", user_path(:id) %></li>
              </ul>
            <% end %>
          
          </nav>
        
        </header>
      
        <div id="contents">
        
        <main>
          <% flash.each do |message_type, message| %>
            <%= message %>
          <% end %>
          
        <%= yield %>
        
        <footer>
          <small>Copyright&copy; All Rights Reserved.</small>
          <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design : Template-Party》</a></span>
        </footer>
        
        </main>
        
        </div>
        <!--/#contents-->
        
      </div>
      <!--/#container-->
        
        <!--スライドショー-->
        <div id="mainimg"><%= image_tag '' %></div>
        
          <!--jQueryの読み込み-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          
          <!--ハンバーガーボタン（開閉操作のボタン）-->
          <div id="menubar_hdr"></div>
          
          <!--ページの上部へ戻るボタン-->
          <div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>
      
    </body>
  </html>
